.header_bar {
      /* background-color: #1e1d1d; */
  
}
.sidebar {
    height: 100vh;
    background-color: #1e1d1d;
    border-right: 1px #7C7272 solid ;
    position: absolute;
    left: -15vw;
    height: 100%;
    width: 15vw;
    transition: left 0.3s ease-in-out;
    border-bottom-right-radius: 15px;
  }
  .sidebar.open {
    left: 0;
  }
  .content.open {
    left: 15vw;
  }
  .content {
    transition: left 0.3s ease-in-out;
  }
  .content.open {
    left: 15vw; 
  }
  .header.open, .content.open {
    margin-left: 15vw; 
}

.header {
    transition: margin-left 0.3s ease-in-out;
}

.content {
    transition: margin-left 0.3s ease-in-out;
}
.text_hover:hover{
    background-image: linear-gradient(to right, #029D43 ,#1e1d1d);
    border-left: 5px  #30F274 solid;
}
.p-card {
    background: #000000 !important;
    color: #FFFFFF;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}
.p-card-subtitle{
    color: #656565;
}
.container {
    position: relative;

  }
.image_overlay {
    display: block;
    width: 100%;
    height: auto;
}
  
.container {
    position: relative;
}

.image_overlay {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #30F274;
}

.play {
    display: none;
    
}

.container:hover .overlay {
    opacity: 0.3;
}

.container:hover .play {
    display: block;
    /* Có thể thêm thuộc tính opacity ở đây nếu muốn */
}

.child {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

