.header_bar {
  /* background-color: #1e1d1d; */
  height: 5rem;
}
.sidebar {
  height: 100vh;
  background-color: #1e1d1d;
  border-right: 1px #7c7272 solid;
  position: absolute;
  left: -15vw;
  height: 100%;
  width: 15vw;
  transition: left 0.3s ease-in-out;
  border-bottom-right-radius: 15px;
}

.sidebar.open {
  display: block;
  height: 100vh;
  background-color: #1e1d1d;
  border-right: 1px #7c7272 solid;
  position: absolute;
  left: 0;
  height: 100%;
  width: 15vw;
  transition: left 0.3s ease-in-out;
  border-bottom-right-radius: 15px;
}
.content.open {
  left: 15vw;
}
.content {
  transition: left 0.3s ease-in-out;
}
.content.open {
  left: 15vw;
}
.header.open,
.content.open {
  margin-left: 15vw;
}

.header {
  transition: margin-left 0.3s ease-in-out;
}

.content {
  transition: margin-left 0.3s ease-in-out;
}
.text_hover:hover {
  background-image: linear-gradient(to right, #029d43, #1e1d1d);
  border-left: 5px #30f274 solid;
}
.p-card {
  background: #000000 !important;
  color: #ffffff;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}
.p-card-subtitle {
  color: #656565;
}
.container {
  position: relative;
}
.image_overlay {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  position: relative;
}

.image_overlay {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #30f274;
}

.play {
  display: none;
}

.container:hover .overlay {
  opacity: 0.3;
}

.container:hover .play {
  display: block;
  /* Có thể thêm thuộc tính opacity ở đây nếu muốn */
}

.child {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.mobile_button {
  display: none;
}
.footer_logo > img {
  width: 80px;
  height: 80px;
}
.search_button {
  min-width: 135px;
}

@media screen and (max-width: 1900px) {
  .webname {
    font-size: large;
  }
}
@media screen and (max-width: 1400px) {
  .webname {
    font-size: small;
  }
  .sidebar {
    animation: slide-in 2s forwards;
    transform: translateX(-100%);
    left: -200px;
  }
  .sidebar.open {
    width: 250px;
    animation: slide-in 0.2s forwards;
    z-index: 9999;
  }
  .over_lay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.6
    ); /* Grey background color with opacity */
    z-index: 10;
  }
  .search {
    margin: 0 5px 0 10px;
  }
  .login_button .label-hide .p-button-label {
    display: none;
  }
  .pc_button {
    display: none;
  }
  .mobile_button {
    display: block;
  }
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .content.open {
    left: 0;
  }
  .header.open,
  .content.open {
    margin-left: 0;
    z-index: -1;
  }
}
@media screen and (max-width: 1200px) {
  .text-white {
    font-size: 13px;
  }
  .footer_logo {
    display: flex;
    flex-direction: column;
  }
  .footer_logo > h1 {
    font-size: 14px;
  }
  .p-button.p-button-icon-only {
    aspect-ratio: 1;
  }
}
@media screen and (max-width: 500px) {
  .search_button {
    display: none;
  }
}
.input_search {
  background-color: #000000;
  border-radius: 20px;
  color: #ffffff;
}
.input_search:hover {
  border: 1px solid #30f274;
}
.input_search::placeholder {
  color: #ffffff;
}
.input_search:focus {
  box-shadow: 0 0 0 0.2rem #30f274;
  border-color: #30f274;
}
.bar_button {
  background: #30f274;
  border: 1px solid #30f274;
}
.bar_button:focus {
  box-shadow: 0 0 0 0.2rem #30f274;
  border-color: #30f274;
}
