
.card {
  padding: 0rem !important;

  background-color: #121212;
}
.p-checkbox .p-checkbox-box.p-highlight {
  background-color: #475569;
  border-color: #475569;
}

/* Thay đổi màu sắc của viền khi checkbox được chọn */
.p-checkbox .p-checkbox-box.p-highlight:not(.p-disabled):hover {
  border-color: #475569;
}
.card {
  border-radius: 10px;
  background-color: #121212;
}