body{
  /* background-image: linear-gradient(45deg, #000000 70%,#029D43 100%, #08FF6F 100%); */
  background-color: #000000;
  color: #FFFFFF;
  margin: 0px !important;
  padding-bottom: 6rem;
}
ul{
  list-style: none;
}
.p-checkbox .p-checkbox-box.p-highlight {
  background-color: #cfd0d1;
  border-color: #475569;
}


.p-checkbox .p-checkbox-box.p-highlight:not(.p-disabled):hover {
  border-color: #475569;
}
.card {
  border-radius: 10px;
  padding: 0rem !important;
}
.p-card-body{
  padding: 10px !important;
}
.element{
  padding: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.p-card-header img {
  height: 200px !important;
  border-radius: 8px 8px 0 0 !important;
}
.grid {


  margin: 0 !important;
}

p{
}

.trend_regular {
  background-color: rgba(10, 144, 66, 0.14);
  box-shadow: inset 0 0 30px rgba(40, 245, 111, 1),
              inset 0 0 12px rgba(48, 242, 116, 0.3),
              inset 0 0 16px rgba(48, 242, 116, 0.1);
}
.p-card-title{
    font-size: 1.2rem;
}
.p-card-subtitle{
  font-size: 1rem;
}
.partner{
  background: linear-gradient(to right, rgba(171, 171, 171, 0.3) 45%, rgba(161, 161, 161, 0.3) 55%);
}

.footer{
  background-color: #0C4223;
}
a{
  text-decoration: none !important;
}

.p-slider .p-slider-range {
  background-color: #03CE58 !important;

}
.p-carousel-indicators {
display: none !important;
}
.p-slider:not(.p-disabled) .p-slider-handle:hover {
  background-color: #03CE58 !important;

  border-color: #03CE58 !important;
}
.p-slider:not(.p-disabled) .p-slider-handle {
  background-color: #03CE58 !important;

  border-color: #03CE58 !important;
}
.p-button.p-button-outlined {
  background-color: transparent;
  color: #03CE58;
  border: 1px solid;
}
.w-30rem {
  width: 40rem !important;
}
.p-toast .p-toast-message-success {
  background-color: #ffffff;
}
.p-toast .p-toast-message-warn {

  background-color: #ffffff;
}
.p-toast .p-toast-message-error {
  background-color: #ffffff;
}
.p-toast .p-toast-message-info {
  background-color: #ffffff;
}
.p-toast .p-toast-message {
  opacity: 1 !important;
}
@media screen and (min-width: 1400px) {
  .is_mobile{
      display: none;
  }

}
@media screen and (max-width: 1400px) {
  .is_pc{
      display: none;
  }
}